<nav class="class-navbar">
  <div class="nav-left">
    <ul>
      <li>
        <a routerLink="/teacher/detail-class/{{classId}}" 
           routerLinkActive="active" 
           [routerLinkActiveOptions]="{ exact: true }">
          Bảng tin
        </a>
      </li>
      <li>
        <a routerLink="/teacher/class/assignments/{{classId}}" 
           routerLinkActive="active" 
           [routerLinkActiveOptions]="{ exact: true }">
          Bài tập
        </a>
      </li>
      <li>
        <a routerLink="/teacher/class/exams/{{classId}}" 
           routerLinkActive="active" 
           [routerLinkActiveOptions]="{ exact: true }">
          Đề thi
        </a>
      </li>
      <li>
        <a routerLink="/teacher/class/{{classId}}" 
           routerLinkActive="active" 
           [routerLinkActiveOptions]="{ exact: true }">
          Mọi người
        </a>
      </li>
    </ul>
  </div>
  <div class="nav-right">
    <span class="class-name">{{ className || 'Chưa có tên lớp' }}</span>
  </div>
</nav>