<div *ngIf="questions && questions.length > 0" [class.fullscreen-mode]="isFullscreen" class="exam-container">

    <div class="exam-content">
        <div class="question-panel">
            <div class="time-container">
                <div class="timer">
                    Time remaining: {{getFormattedTime()}}
                </div>
                <button class="btn btn-outline-primary" (click)="toggleFullscreen()">
                    <i class="fas" [class.fa-expand]="!isFullscreen" [class.fa-compress]="isFullscreen"></i>
                    {{isFullscreen ? 'Exit Fullscreen' : 'Fullscreen'}}
                </button>
            </div>
            <form (ngSubmit)="submitAnswers()">
                <div *ngIf="questions.length > 0" class="card p-3 mb-3">
                    <h5 style="font-weight: bold; margin-bottom: 10px;">
                        {{currentQuestionIndex + 1}}. {{questions[currentQuestionIndex].questionText}}
                    </h5>
                    <div *ngIf="questions[currentQuestionIndex].type === 'SINGLE_CHOICE'">
                        <div *ngFor="let answer of questions[currentQuestionIndex].answers" class="d-block mb-2">
                            <label class="d-flex align-items-center">
                                <input type="radio" [name]="'question_' + questions[currentQuestionIndex].id"
                                    [value]="answer.answerText"
                                    (change)="onSingleChoiceChange(questions[currentQuestionIndex].id, answer.answerText)"
                                    [checked]="singleAnswer[questions[currentQuestionIndex].id] === answer.answerText">
                                <span class="ms-2">{{answer.answerText}}</span>
                            </label>
                        </div>
                    </div>

                    <div *ngIf="questions[currentQuestionIndex].type === 'MULTI_CHOICE'">
                        <label *ngFor="let answer of questions[currentQuestionIndex].answers" class="d-block">
                            <input type="checkbox" [value]="answer.answerText"
                                (change)="onAnswerChange(questions[currentQuestionIndex].id, answer.answerText, $event)"
                                [checked]="multipleAnswers[questions[currentQuestionIndex].id].includes(answer.answerText)">

                                <!-- [checked]="multipleAnswers[questions[currentQuestionIndex].id]?.includes(answer.answerText)"> -->
                                
                            {{answer.answerText}}
                        </label>
                    </div>

                    <!-- <div *ngIf="questions[currentQuestionIndex].type === 'ESSAY'">
                        <input type="text" class="form-control" [(ngModel)]="essayAnswer[questions[currentQuestionIndex].id]"
                            placeholder="Nhập câu trả lời..." [name]="'essay_' + questions[currentQuestionIndex].id">
                    </div> -->
                </div>
            </form>
            <div>
                <button class="btn btn-primary" (click)="previousQuestion()" [disabled]="currentQuestionIndex === 0"><</button>
                <button class="btn btn-primary" (click)="nextQuestion()" [disabled]="currentQuestionIndex === questions.length - 1">></button>
            </div>
        </div>

        <div class="navigation-panel">
            <div class="navigation-status-key">
                <div class="status-item"><span class="status-color answered"></span>Answered</div>
                <div class="status-item"><span class="status-color not-answered"></span> Not Answered</div>
            </div>
            <div class="question-numbers">
                <button *ngFor="let question of questions; let i = index" class="question-number-btn"
                    [ngClass]="getQuestionStatusClass(question)" [class.active]="currentQuestionIndex === i"
                    (click)="goToQuestion(i)">
                    {{i + 1}}
                </button>
                <button class="btn btn-success" (click)="submitAnswers()">SUBMIT</button>
            </div>
        </div>
    </div>


</div>