<div class="page-container">
    <app-teacher-nav-bar></app-teacher-nav-bar>
    <div class="score-list-container">
        <div class="score-list-header">
            <h2 class="assignment-title">{{ examTitle }}</h2>
            <div class="header-actions">
              <button class="export-btn" (click)="exportExcel()">Xuất Excel</button>
            </div>
        </div>

        <div class="score-table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ và tên</th>
                        <th>Điểm</th>
                        <th>Thời gian nộp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let score of scores; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ score.studentName }}</td>
                        <td>{{ score.total_score }}</td>
                        <td>{{ formatDate(score.submittedAt) }}</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="scores.length === 0" class="no-scores">
                <i class="fas fa-users"></i>
                <p>Chưa có điểm nào cho bài thi này</p>
            </div>
        </div>
    </div>
</div>
