 <app-teacher-nav-bar [className]="className"></app-teacher-nav-bar>
<div class="class-container">
  <div class="class-banner">
    <div class="class-info">
      <h2 class="class-title">{{ className }}</h2>
      <p class="class-subject">{{ classDescription }}</p>
    </div>
  </div>

    <div class="main-panel">
      <div class="announcement">
        <div class="avatar">N</div>
        <input type="text" placeholder="Thông báo nội dung nào đó cho lớp học của bạn">
      </div>
    </div>
</div>
