<nav class="class-navbar">
    <div class="nav-left">
      <ul>
        <li><a routerLink="/student/detail-class/{{classId}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Bảng tin</a></li>
        <li><a routerLink="/student/list-assignment/{{classId}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Bài tập</a></li>
        <li><a routerLink="/student/list-exam/{{classId}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Bài thi</a></li>
        <li><a routerLink="/student/score/{{classId}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Điểm</a></li>
      </ul>
    </div>
    <div class="nav-right">
      <span class="class-name">{{ className || 'Chưa có tên lớp' }}</span>
    </div>
</nav>