<div class="dashboard-container">
    <div class="dashboard-header">
        <h2 class="d-flex align-items-center"><i class="fas fa-file-alt me-2"></i>{{ exam.title }}</h2>
        <button class="btn-create-class" routerLink="/teacher/add-question/{{examId}}">
            <i class="fas fa-plus-circle me-2"></i>Thêm câu hỏi
        </button>
    </div>

    <div class="question-list">
        <div *ngFor="let question of questions; let i = index" class="question-card">
            <div class="question-card-header">
                <div class="d-flex align-items-center">
                    <span class="question-info">{{ i + 1 }}</span>
                    <span class="question-info">{{ getQuestionType(question.type) }}</span>
                     <span class="question-info">{{ question.point }} điểm</span>
                </div>
                <div class="question-actions">
                    <button class="btn btn-light btn-sm icon-btn" (click)="duplicateQuestion(question)">
                         <i class="fas fa-copy"></i>
                    </button>
                    <button class="btn btn-light btn-sm icon-btn" routerLink="/teacher/update-question/{{question.id}}">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button class="btn btn-light btn-sm icon-btn" (click)="deleteQuestion(question.id)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </div>
            
            <div class="question-card-body">
                <h5>{{question.questionText}}</h5>
                <p class="text-muted">Lựa chọn trả lời:</p>
                <div class="row">
                    <div class="col-md-6" *ngFor="let answer of question.answers">
                         <p class="mb-1" [ngClass]="{'text-success': answer.correct, 'text-danger': !answer.correct}">
                            <i class="fas me-2" [ngClass]="{'fa-check-circle': answer.correct, 'fa-times-circle': !answer.correct}"></i>
                            {{ answer.answerText }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
