.card-class {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.card-header {
    height: 100px;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
